@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$primary-color: #000;
$auto-margin: auto;
$container: 20px;
$border-default: 2px solid #000;
$uniform-height: 40px;
$border-color: #f0f0f0;
$uniform-height: 50px;
$greyish: #3c3c3c;
$font-family: "poppins", "san-serif";
$bottom-color: #e8e8e8;

body {
  color: $primary-color;
  margin: 0;
  font-family: $font-family;
}

.container {
  width: 36%;
  box-shadow: 0 0 16px #d1d1d1;
  margin: 0 auto;
}

.header {
  border: none;
  user-select: none;
  border-bottom: 2px solid $bottom-color;
  margin-top: 10px;
}

.headerText {
  margin: 0;
  color: $greyish;
  font-weight: 600;
  padding: 20px;
}

#input {
  border: none;
  border-bottom: 2.9px solid $bottom-color;
  width: 100%;
  font-style: italic;
  box-sizing: border-box;
  color: $greyish;
  text-indent: 12px;
  font-size: 1.05rem;
  padding: 20px;
}

#input:focus {
  outline: none;
}

#input::placeholder {
  font-size: 1.05rem;
}

.list {
  border: none;
  display: flex;
  border-bottom: 2px solid $bottom-color;
  padding: 20px;
}

.checkBox {
  height: 16px;
  width: 16px;
  margin-left: 12px;
}

.item {
  border: none;
  margin-left: 10px;
  color: $greyish;
  font-size: 1.05rem;
  background-color: rgba(0, 0, 0, 0);
  width: 80%;
}

.item:focus {
  outline: none;
}

.more {
  position: relative;
  left: 20px;
  width: 4px;
}

.delete {
  position: relative;
  left: 10px;
  width: 18px;
}

.clear {
  border: none;
  user-select: none;
  border-bottom: 2px solid $bottom-color;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f4f3f3;
  box-sizing: border-box;
}

.clear:active {
  background-color: $bottom-color;
}



.clear-link {
  text-decoration: none;
  color: $greyish;
}

.clear-link:hover {
  text-decoration: underline;
}

footer {
  margin: 0 auto;

}

.copyright {
  color: $greyish;
}
